#header {
  border-bottom: 2px solid lightgray;
  padding: 2px 0px 2px 0px;
}
#header h1 { font-weight: bold; font-size: 1.5em; }
#header h2 {font-weight: normal;font-size: 1em; }
#header h3 {font-weight: normal;font-size: 0.8em; }

#appzone {padding-top: 1em;padding-bottom: 1em;margin-top: 1em;}

#footer {font-size: 1em;margin-top: 1em;padding-top: 1em; border-top: 2px solid lightgray;}

.calc-form {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  padding: 1em;
  border: 1px;
  border-style: solid;
}
.field {
  width: 3rem;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.about { border: 1px;}

h6 { padding: 1em; border: 1px; border-style: solid;}
